<a href="https://colab.research.google.com/github/joudelshawa/mental-health-ai-app/blob/main/analysis_preprocessingdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pycountry

Collecting pycountry
  Downloading https://files.pythonhosted.org/packages/76/73/6f1a412f14f68c273feea29a6ea9b9f1e268177d32e0e69ad6790d306312/pycountry-20.7.3.tar.gz (10.1MB)
     |████████████████████████████████| 10.1MB 7.9MB/s
Building wheels for collected packages: pycountry
  Building wheel for pycountry (setup.py) ... done
  Created wheel for pycountry: filename=pycountry-20.7.3-py2.py3-none-any.whl size=10746883 sha256=4bf1ab0b15b2c1e4b9f004269c740f4d493664430ee4755f64836a69fb5a8fd3
  Stored in directory: /root/.cache/pip/wheels/33/4e/a6/be297e6b83567e537bed9df4a93f8590ec01c1acfbcd405348
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-20.7.3

In [ ]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
!pip install textblob

Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (1.15.0)

In [ ]:
!pip install wordcloud

Traceback (most recent call last):
  File "/usr/local/bin/pip3", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.7/dist-packages/pip/_internal/main.py", line 45, in main
    command = create_command(cmd_name, isolated=("--isolated" in cmd_args))
  File "/usr/local/lib/python3.7/dist-packages/pip/_internal/commands/__init__.py", line 96, in create_command
    module = importlib.import_module(module_path)
  File "/usr/lib/python3.7/importlib/__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1006, in _gcd_import
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 967, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 677, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 728, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "/usr/local/lib/python3.7/dist-packages/pip/_internal/commands/install.py", line 23, in <module>
    from pip._internal.cli.req_command import RequirementCommand
  File "/usr/local/lib/python3.7/dist-packages/pip/_internal/cli/req_command.py", line 20, in <module>
    from pip._internal.network.session import PipSession
  File "/usr/local/lib/python3.7/dist-packages/pip/_internal/network/session.py", line 17, in <module>
    from pip._vendor import requests, six, urllib3
  File "/usr/local/lib/python3.7/dist-packages/pip/_vendor/requests/__init__.py", line 44, in <module>
    from pip._vendor import chardet
  File "/usr/local/lib/python3.7/dist-packages/pip/_vendor/chardet/__init__.py", line 20, in <module>
    from .universaldetector import UniversalDetector
  File "/usr/local/lib/python3.7/dist-packages/pip/_vendor/chardet/universaldetector.py", line 47, in <module>
    from .mbcsgroupprober import MBCSGroupProber
  File "/usr/local/lib/python3.7/dist-packages/pip/_vendor/chardet/mbcsgroupprober.py", line 32, in <module>
    from .sjisprober import SJISProber
  File "/usr/local/lib/python3.7/dist-packages/pip/_vendor/chardet/sjisprober.py", line 30, in <module>
    from .chardistribution import SJISDistributionAnalysis
  File "/usr/local/lib/python3.7/dist-packages/pip/_vendor/chardet/chardistribution.py", line 28, in <module>
    from .euctwfreq import (EUCTW_CHAR_TO_FREQ_ORDER, EUCTW_TABLE_SIZE,
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 967, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 677, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 724, in exec_module
  File "<frozen importlib._bootstrap_external>", line 857, in get_code
  File "<frozen importlib._bootstrap_external>", line 525, in _compile_bytecode
KeyboardInterrupt

In [ ]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (0.22.2.post1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)

In [86]:
import tweepy
import pandas as pd
import numpy as np
import os

This will be us. However, I could not find pne. I used that I got from the website.

In [87]:
consumer_key = "mdmzMBrRM2nNnTdEoN7jZuxmY"
consumer_key_secret = "3D6YYKcs6kheu1VjqZzkHOu9Fu5RBXKYOG947t0PGykr39btce"
access_token = "525051045-gOq1C7h2YUbz1gFhRuehci0atHZUPwFC5nwlv0VP"
access_token_secret = "eXvSLyGa9OrzS6R1EiZ86nxvHGpP0RsxelqyVWkxZqmYV"

In [88]:
# Create a hashtags list
hashtags = ["#distancelearning", \
            "#onlineschool",     \
            "#onlineteaching",   \
            "#virtuallearning",  \
            "#onlineducation",   \
            "#distanceeducation",\
            "#OnlineClasses",    \
            "#DigitalLearning",  \
            "#elearning",        \
            "#onlinelearning"]

# Create a search list
search_list = ["distance learning",  \
               "online teaching",    \
               "online education,",  \
               "online course",      \
               "online semester",    \
               "distance course",    \
               "distance education", \
               "online class",       \
               "e-learning",         \
               "e learning"]


# Get the necessary API information from a text file


# Setup tweepy with Twitter credentials
auth = tweepy.OAuthHandler(consumer_key, consumer_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

# Define a function to get tweets
def get_tweets(search, isHashtag):
    
    # Create a pandas DataFrame
    df_temp = pd.DataFrame(columns=["Content", "Location", "Username", "Retweet-Count", "Favorites", "Created at"])
    
    # Get the tweets
    tweets = tweepy.Cursor(api.search, q= search+" -filter:retweets", lang="en",since="2020-08-06", tweet_mode='extended').items(10)
    
    # Iterate over tweets
    for tweet in tweets:
        content = tweet.full_text
        username = tweet.user.screen_name
        location = tweet.user.location
        created_at = tweet.created_at
        retweetcount = tweet.retweet_count
        favorites = tweet.favorite_count
        
        # Create a list consists of the features
        retrieved = [content, location, username, retweetcount, favorites, created_at]
        
        # Append list to the DataFrame
        df_temp.loc[len(df_temp)] = retrieved
        
    # Generate unique filename
    path = os.getcwd()
    
    # Generate a filename for hashtags or specific word
    if isHashtag:
        filename = path + '/drive/MyDrive/tweeter/' + search[1:] + '_hashtag.csv'
    else:
        filename = path + '/drive/MyDrive/tweeter/' + search.replace(" ", "") + '_wordsearch.csv'
    # Save the csv file
    df_temp.to_csv(filename)


# Call get_tweets function for each hashtag and search word

for hashtag in hashtags:
    get_tweets(hashtag, isHashtag=True)

for search in search_list:
    get_tweets(search, isHashtag=False)

In [89]:
import pandas as pd
import os


# Concatenate the DataFrames and save as corpus

# Get csv file names in output directory
path = os.getcwd() + "/drive/MyDrive/tweeter/"
files = os.listdir(path)

# Create a list to store DataFrames
df_list = []

# Iterate over files in output dir and append DataFrames into df_list
for file in files:
    df = pd.read_csv(path + file, index_col=None)
    df_list.append(df)

# Create a DataFrame
tweets_raw = pd.concat(df_list, axis=0, ignore_index=True)

# Save the DataFrame as a csv file
tweets_raw.to_csv("tweets_raw.csv")

In [90]:
# Load the tweets
tweets_raw = pd.read_csv("tweets_raw.csv")
# Display the first five rows
display(tweets_raw.head())
# Print the summary statistics
print(tweets_raw.describe())
# Print the info
print(tweets_raw.info())

   Unnamed: 0  Unnamed: 0.1  ... Favorites           Created at
0           0             0  ...         0  2021-06-09 21:27:05
1           1             1  ...         3  2021-06-09 21:06:55
2           2             2  ...         0  2021-06-09 20:28:08
3           3             3  ...         0  2021-06-09 20:12:08
4           4             4  ...         0  2021-06-09 20:04:00

[5 rows x 8 columns]

       Unnamed: 0  Unnamed: 0.1  Retweet-Count   Favorites
count  200.000000    200.000000     200.000000  200.000000
mean    99.500000      4.500000       0.295000    0.540000
std     57.879185      2.879489       0.678437    1.151097
min      0.000000      0.000000       0.000000    0.000000
25%     49.750000      2.000000       0.000000    0.000000
50%     99.500000      4.500000       0.000000    0.000000
75%    149.250000      7.000000       0.000000    1.000000
max    199.000000      9.000000       5.000000    9.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     200 non-null    int64
 1   Unnamed: 0.1   200 non-null    int64
 2   Content        200 non-null    object
 3   Location       168 non-null    object
 4   Username       200 non-null    object
 5   Retweet-Count  200 non-null    int64
 6   Favorites      200 non-null    int64
 7   Created at     200 non-null    object
dtypes: int64(4), object(4)
memory usage: 12.6+ KB
None

In [91]:
import nltk
import re

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')


# Import word_tokenize and stopwords from nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [92]:

def process_tweets(tweet):
    
    # Remove links
    tweet = re.sub(r"http\S+|www\S+|https\S+", '', tweet, flags=re.MULTILINE)
    
    # Remove mentions and hashtag
    tweet = re.sub(r'\@\w+|\#','', tweet)
    
    # Tokenize the words
    tokenized = word_tokenize(tweet)

    # Remove the stop words
    tokenized = [token for token in tokenized if token not in stopwords.words('english')] 

    # Lemmatize the words
    lemmatizer = WordNetLemmatizer()
    tokenized = [lemmatizer.lemmatize(token, pos='a') for token in tokenized]

    # Remove non-alphabetic characters and keep the words contains three or more letters
    tokenized = [token for token in tokenized if token.isalpha() and len(token)>2]
    
    return tokenized
    
# Call the function and store the result into a new column
tweets_raw["Processed"] = tweets_raw["Content"].str.lower().apply(process_tweets)

# Print the first fifteen rows of Processed
display(tweets_raw[["Processed"]].head(15))

                                            Processed
0   [prefer, study, drop, onlinecollege, online, d...
1   [electrical, interaction, physics, elonmusk, d...
2   [please, join, discussion, zvo, executive, ope...
3   [crazy, challenging, unique, beautiful, school...
4   [reminder, districts, begin, prepare, coming, ...
5   [newlyrevised, god, wonderful, works, days, cr...
6   [register, safe, grammar, school, safegrammars...
7   [quit, job, stay, home, mom, take, care, born,...
8   [walkingcurriculum, day, noticingnature, math,...
9   [maluca, emeritus, program, hosted, art, activ...
10          [accurate, virtuallearning, onlineschool]
11  [worried, young, child, able, keep, onlinescho...
12  [stay, healthy, online, school, habits, online...
13  [register, safe, grammar, school, safegrammars...
14  [gives, going, green, whole, new, meaning, che...

In [93]:
# Get the tweet lengths
tweets_raw["Length"] = tweets_raw["Content"].str.len()
# Get the number of words in tweets
tweets_raw["Words"] = tweets_raw["Content"].str.split().str.len()
# Display the new columns
display(tweets_raw[["Length", "Words"]])

     Length  Words
0       187     20
1       170     14
2       268     39
3       209     28
4       206     21
..      ...    ...
195     287     40
196     827     86
197     284     42
198     303     44
199     284     41

[200 rows x 2 columns]

In [94]:
# Fill the missing values with unknown tag
tweets_raw["Location"].fillna("unknown", inplace=True)

In [95]:
# Print the unique locations and number of unique locations
print("Unique Values:",tweets_raw["Location"].unique())
print("Unique Value count:",len(tweets_raw["Location"].unique()))

Unique Values: ['Cedar City, UT' 'Россия' 'unknown' 'Sanger, CA' 'Arlington Heights, IL'
 'Cameroon' 'Los Angeles, CA' 'Canada' '26041 Pala, Mission Viejo, CA'
 'Tallahassee' 'Mentally in Switzerland ✨' 'SACS CASI Accredited'
 'Indiana' 'global' 'India' 'Online and Worldwide' 'United Kingdom'
 'Brazil-Canada-Ireland-USA' 'England, United Kingdom' 'Tokyo, Japan'
 'United States' 'Atlanta, GA' 'Maryland' 'Philadelphia, PA'
 'Global focus' 'Denver, CO' 'Mississauga, Ontario' 'Hyderabad, India'
 'Kolkata, India' 'Oldsmar, FL' 'Trivandrum, India' 'Parkland, FL USA'
 'kannur' 'Thiruvannmalai' 'Tennessee' 'Worldwide' 'Boulder, CO'
 'New Delhi, India' 'world' 'Antigua, Guatemala' 'Croydon, London' 'USA'
 'Toronto, Ontario' 'California, USA' 'New York, USA' 'Texas, USA'
 'The Capital, Kuwait' 'Haverfordwest' 'Belgium 🍫\U0001f9c7🍺🍟🎷' 'Monaco '
 'Indianapolis, IN' 'Yorkshire and The Humber' 'Austin, TX'
 'Glasgow, Scotland' 'Everywhere :)' 'Brownsville, TX' 'San Francisco'
 'Baton Rouge, Louisiana' 'Gary, Indiana' 'Bx, Manhattan, SI'
 'Vernon Hills, IL' 'Richmond, VA' 'Galway, Ireland' 'Norco, CA'
 'Barnet, London' 'Kingdom of Saudi Arabia'
 'New York, Paris, San Francisco' 'Minnesota, USA' 'Plano, TX'
 'California' 'Silver Spring, MD' 'Richmond, B.C, Canada'
 'The Great State of Washington' 'Melbourne, Australia'
 'Washoe County, NV' 'Connecting with educators in 117 countries.'
 'Orlando, FL' 'Somerville, MA' 'ldn | she/they' 'San Francisco, CA'
 'Maryland, USA' 'Germany' 'ur mom' 'North America' 'South Africa'
 'Arlington, Texas' 'Manitoba' 'Rawalpindi, Pakistan' "California Livin' "
 'US, UK, Canada, Kuwait, KSA' 'Boca Raton, FL' 'Lahore, Pakistan'
 'United States ' 'Memphis, TN' 'Chillicothe, OH' 'Maple Ridge, BC'
 'Everywhere, baby!' 'بلاد إسرائيل لبني إسرائيل ' 'Florida, USA'
 'Paris. (Fake Acc. +18)' ', Ontario Canada'
 'thay. she/her. 22. pt-br/eng' 'North East, England' 'St. Paul, MN'
 'Virginia Beach, VA' 'Essen, Germany ' 'Calgary, AB'
 'Burnaby, British Columbia' 'Cambridge, MA' 'Washington, DC'
 'Connecticut , USA' 'Massachusetts, USA' 'philadelphia, pa'
 'Oklahoma City, OK' 'New York' 'Kansas City, MO' 'On Your Screen/Stereo!'
 'University of Toronto' 'Frederick, Maryland' 'Fsd'
 'Vancouver, British Columbia' 'Dallas TX ' 'chitral kpk pakistan'
 'Lagos, Nigeria' 'Boston, MA' 'Irvine, CA' 'Cleveland, Ohio' 'flavortown'
 'St Paul, MN' 'Guilford County NC']
Unique Value count: 130

In [ ]:
!pip install pycountry

Collecting pycountry
  Downloading https://files.pythonhosted.org/packages/76/73/6f1a412f14f68c273feea29a6ea9b9f1e268177d32e0e69ad6790d306312/pycountry-20.7.3.tar.gz (10.1MB)
     |████████████████████████████████| 10.1MB 3.1MB/s
Building wheels for collected packages: pycountry
  Building wheel for pycountry (setup.py) ... done
  Created wheel for pycountry: filename=pycountry-20.7.3-py2.py3-none-any.whl size=10746883 sha256=9133206a97285354ff03316d8e6872d4c40b2e0d28d8bfb4c392e5b93e3a719b
  Stored in directory: /root/.cache/pip/wheels/33/4e/a6/be297e6b83567e537bed9df4a93f8590ec01c1acfbcd405348
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-20.7.3

In [96]:
# Import pycountry
import pycountry

def get_countries(location):
    
    # If location is a country name return its alpha2 code
    if pycountry.countries.get(name= location):
        return pycountry.countries.get(name = location).alpha_2
    
    # If location is a subdivisions name return the countries alpha2 code
    try:
        pycountry.subdivisions.lookup(location)
        return pycountry.subdivisions.lookup(location).country_code
    except:
        # If the location is neither country nor subdivision return the "unknown" tag
        return "unknown"

# Call the function and store the country codes in the Country column
tweets_raw["Country"] = tweets_raw["Location"].apply(get_countries)

# Print the unique values
print(tweets_raw["Country"].unique())

# Print the number of unique values
print("Number of unique values:",len(tweets_raw["Country"].unique()))

['unknown' 'CM' 'CA' 'US' 'IN' 'GB' 'LR' 'DE' 'ZA']
Number of unique values: 9

In [97]:
# Display the most popular tweets
display(tweets_raw.sort_values(by=["Favorites","Retweet-Count", ], axis=0, ascending=False)[["Content","Retweet-Count","Favorites"]].head(2))

                                               Content  ...  Favorites
159  *stares off into the distance* of course hua c...  ...          9
57   The 2021 CHLOE 6 report, authored by @QMProgra...  ...          8

[2 rows x 3 columns]

In [98]:
# Save the processed data as a csv file
tweets_raw.to_csv("tweets_processed.csv")
# Load the processed DataFrame
tweets_processed = pd.read_csv("tweets_processed.csv", parse_dates=["Created at"])

In [53]:
#We can use different code here
# Create our contextual stop words
#tfidf_stops = ["online","class","course","learning","learn","teach","teaching","distance","distancelearning","education","teacher","student","grade","classes","computer","onlineeducation","onlinelearning", "school", "students","class","virtual","eschool",\ "virtuallearning", "educated", "educates", "teaches", "studies","study", "semester", "elearning","teachers", "lecturer", "lecture", "amp","academic", "admission", "academician", "account", "action" ,"add", "app", "announcement", "application", "adult", "classroom", "system", "video", "essay", "homework","work","assignment","paper","get", "math", "project", "science", "physics", "lesson","courses","assignments", "know", "instruction","email", "discussion","home","college","exam""use","fall","term","proposal","one","review","proposal", "calculus", "search", "research", "algebra"]
# Initialize a Tf-idf Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=5000, stop_words= stopwords.words('english'))
# Fit and transform the vectorizer
tfidf_matrix = vectorizer.fit_transform(tweets_processed[["Processed"]])
# Let's see what we have
display(tfidf_matrix)
# Create a DataFrame for tf-idf vectors and display the first rows
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns= vectorizer.get_feature_names())
display(tfidf_df.head())

<1x1 sparse matrix of type '<class 'numpy.float64'>'
	with 1 stored elements in Compressed Sparse Row format>

   processed
0        1.0

In [99]:
# Print the value counts of Country column
print(tweets_processed["Country"].value_counts())

unknown    178
US           9
CA           4
CM           3
GB           2
DE           1
IN           1
ZA           1
LR           1
Name: Country, dtype: int64

In [100]:
# We need to exclude unknowns
countries = tweets_processed[tweets_processed.Country!='unknown']

# Select the top 20 countries
top_countries = countries["Country"].value_counts(sort=True).head(20)

# Convert alpha2 country codes to country names and store in a list
country_fullnames = []
for alpha2 in top_countries.index:
    country_fullnames.append(pycountry.countries.get(alpha_2=alpha2).name)

In [101]:
# Display the most popular tweets
display(tweets_processed.sort_values(by=["Favorites","Retweet-Count", ], axis=0, ascending=False)[["Content","Retweet-Count","Favorites"]].head(1))

                                               Content  ...  Favorites
159  *stares off into the distance* of course hua c...  ...          9

[1 rows x 3 columns]

In [102]:
# Create a new DataFrame called frequencies
frequencies = pd.DataFrame(tfidf_matrix.sum(axis=0).T,index=vectorizer.get_feature_names(),columns=['total frequency'])
# Display the most 20 frequent words
display(frequencies.sort_values(by='total frequency',ascending=False).head(20))

           total frequency
processed              1.0

In [67]:
!pip install textblob      #for installation

import textblob            #to import
from textblob import TextBlob

Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (1.15.0)

In [103]:
# Add polarities and subkectivities into the DataFrame by using TextBlob
tweets_processed["Polarity"] = tweets_processed["Processed"].apply(lambda word:TextBlob(word).sentiment.polarity)
tweets_processed["Subjectivity"] = tweets_processed["Processed"].apply(lambda word:TextBlob(word).sentiment.subjectivity)

# Display the Polarity and Subjectivity columns
display(tweets_processed[["Polarity","Subjectivity"]].head(10))

   Polarity  Subjectivity
0  0.000000      0.000000
1  0.100000      0.400000
2  0.000000      0.500000
3  0.245000      0.856667
4  0.000000      0.000000
5  0.500000      0.550000
6  0.500000      0.500000
7 -0.133333      0.588889
8  0.000000      0.000000
9  0.000000      0.000000

In [104]:
# Define a function to classify polarities
def analyse_polarity(polarity):
    if polarity > 0:
        return "Positive"
    if polarity == 0:
        return "Neutral"
    if polarity < 0:
        return "Negative"

# Apply the funtion on Polarity column and add the results into a new column
tweets_processed["Polarity Scores"] = tweets_processed["Polarity"].apply(analyse_polarity)

# Display the Polarity and Subjectivity Analysis
display(tweets_processed[["Polarity Scores"]].head(10))

  Polarity Scores
0         Neutral
1        Positive
2         Neutral
3        Positive
4         Neutral
5        Positive
6        Positive
7        Negative
8         Neutral
9         Neutral

In [111]:
# Print the value counts of the Label column
print(tweets_processed[["Polarity Scores"]].value_counts())
#print(tweets_processed.rename(columns={'Label':'Polarity Scores'}, inplace=True))
#This is the Label

Polarity Scores
Positive           108
Neutral             68
Negative            24
dtype: int64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive